html {
    box-sizing: border-box;
    
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1130px;
    padding: 0 10px;
    margin: 0 auto;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 24.84px;
    color: #000;
    /*font-family: 'Merriweather', serif;*/
    
}

.header {
    background-color: #e5e5e5;

}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact__menu {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: row wrap;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__text {
    font-size: 36px;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    color: #005fa3;
    line-height: 49.78px;
    margin-left: 30px;
}