html {
    box-sizing: border-box;
    
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

li {
    list-style-type: none;
}

.container {
    max-width: 1130px;
    padding: 0 10px;
    margin: 0 auto;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 24.84px;
    color: #000;
}

.header {
    background-color: #fff;
    height: 110px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
   
}

.logo {
    display: flex;
    align-items: center;
}

.logo__text {
    font-size: 36px;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    color: #005fa3;
    line-height: 49.78px;
    margin: 33px 0 33px 30px;
}

.contact__menu {
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
}

.contact__list {
    padding-top: 22px;
}

.contact__item {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.contact__item:first-child {
    margin-left: 0;
}

.contact__list__image {
    margin-right: 15px;
}

.contact__list__link {
    font-weight: 400;
    font-size: 13px;
    line-height: 17.16px;
    color: #000;
    padding-bottom: 3px;
    transition: all .3s;
    border-bottom: 1.5px solid transparent;

}

.menu__list {
    padding-bottom: 31px;
}

/*.menu__item {  
    margin-right: 68px;
}*/

.menu__list__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #222;
    padding-bottom: 3px;
    transition: all .3s;
    border-bottom: 1.5px solid transparent;

}

.contact__list__link:hover, 
.menu__list__link:hover {
    border-bottom: 1.5px solid #005fa3;
}

.contact__list, .menu__list {
    display: flex;
    justify-content: space-between;
    
    /*flex-direction: row wrap;*/
}

.main {
    background: url(../img/main_bgr.jpg);
}

.main__title {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 66.37px;
    color: #fff;
    width: 589px;
    padding-top: 170px;
    margin-bottom: 80px;
}

.presentation__btn {
    font-weight: 400;
    color: #fff;
    
}